sgx.enclave_size = "512M"
sgx.max_threads = 1

loader.preload = file:/gramine/meson_build_output/lib/x86_64-linux-gnu/gramine/libsysdb.so

fs.mounts = [
    {
        path = "/sealed"
        uri = "file:/sealed"
        type = "chroot"
        allow_sealing = true
    }
]
